@charset "UTF-8";

:root {
    --cor1:#FFD700;
    --cor2:#E6C717;
    --cor3:#807640;
    --cor4:#998B3D;
    --cor5:#333129;
}

body {
    background-color: white;
    margin: 0%;
}

header {
    background-color: var(--cor1);
    padding: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.271);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

header h1 {
    text-align: center;
    font-size: 38px;
}

header nav {
    background-color: var(--cor2);
    margin: -2px;
    padding: 2px;
}

nav > a {
    padding: 10px;
    text-decoration: none;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.252);
}

main h2 {
    text-indent: 10px;
}

main p {
    text-align: justify;
    text-indent: 20px;
}